.sidebar{
    height: 750px;
}

.sidebar a{
    text-decoration: none;
    color: white;
    font-size: large;
}
.btn{
    height: 80px;
}

.bannr{
    background-image: url(./images/pexels-pixabay-220116.jpg);
    height: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.profile h3{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

.text p{
    font-size: small;
    
}

@media (width < 769px) {
    .sidebar{
        height: 100%;
    }

    .main a{
        padding-bottom: 4px;
        border-bottom: 2px solid rgb(238, 78, 78);
    }

    .bannr{
        height: 30%;
        width: 100%;
    }
    

}